
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #232536;
  }
  
  .navbar h1 {
    font-size: 24px;
    font-size: large;
    color: white;
  }
  
  .ull {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
  }
  
  .ull li {
    font-size: 16px;
  }
  
  .ull li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
  }
  
  .ull li a:hover {
    color: #007bff;
  }
  
  .last-item a {
    color: #fd3e3e;
    font-weight: bold; 
  }
  
  .services-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .content {
    max-width: 60%;
  }
  
  .content h3 {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 10px;
    color: #555;
  }
  
  .content h1 {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  
  .content p {
    font-size: 16px;
    color: #555;
    line-height: 1.8;
    margin-bottom: 30px;
  }

  .btn {
    background-color: #6246ea; 
    color: #fff; 
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #503ab3;
  }
  

  .list {
    max-width: 30%;
    padding-left: 20px;
  }
  
  .list p {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
  }
  
  .list p span {
    font-size: 20px;
    font-weight: normal;
  }